@using LearnPageRazor.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;

@{
    signInManager.IsSignedIn(User);
    userManager.GetUserName(User);
}

<ul class="navbar-nav">
    
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Xin chào @userManager.GetUserName(User)</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Đăng xuất</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
    }
    
</ul>