@page "/admin/roles"
@model LearnPageRazor.Areas.Admin.Role.IndexModel
@{
    ViewData["Title"] = "Danh sách các vai trò";
}
<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="Model.StatusMessage"/>

<div class="mb-2">
    <a class="btn btn-secondary" asp-page="Create">Tạo mới</a>
</div>

<table class="table">
    <tr>
        <th>Tên vai trò</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var role in Model.Roles)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <a class="btn btn-warning btn-sm" asp-page="Update" asp-route-roleid="@role.Id">Cập nhật</a>
                <a class="btn btn-danger btn-sm" asp-page="Delete" asp-route-roleid="@role.Id">Xóa</a>
            </td>
        </tr>
    }
</table>
